services:
  - type: web
    name: pourpal-backend
    env: python
    rootDir: PourPal/backend
    buildCommand: pip install -r requirements.txt && python manage.py collectstatic --noinput
    startCommand: python manage.py migrate && daphne -b 0.0.0.0 -p 8000 pourpal.asgi:application
    plan: free
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
      - key: DATABASE_URL
        sync: false
      - key: REDIS_URL
        sync: false
